extends dashboard-layout

block style
    link(rel="stylesheet" href="/stylesheets/dashboard-page-style.css")

block content
    .row.row-cols-1.row-cols-md-3.g-4
        .status
            .col
                .card.h-100.bg-primary
                    .card-header Header
                    .card-body
                        h5.card-title Primary card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .col
                .card.h-100.bg-primary
                    .card-header Header
                    .card-body
                        h5.card-title Primary card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .col
                .card.h-100.bg-primary
                    .card-header Header
                    .card-body
                        h5.card-title Primary card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.