extends dashboard-layout

block style
    link(rel="stylesheet" href="/stylesheets/minecraftmonitors-style.css")

block content
    .minecraftmonitor-header.text-center
        h1 Minecraft Monitors
        p View a comprehensive list of your Minecraft Server monitors here
        button.btn.btn-primary.bi.bi-plus-lg(type='button' id="addMonitor" data-bs-toggle="modal" data-bs-target="#addMonitorModal") Add Monitor
        button.btn.btn-primary.bi.bi-arrow-repeat(type='button' id="refreshMonitors") Refresh Monitors

    table.table.justify-content-center
        thead
            tr
                th(scope='col') Name
                th(scope='col') Uptime Percentage
                th(scope='col') Last Checked
                th(scope='col') History
        tbody
            tr
                td Mark
                td Mark
                td Mark
                td Mark

    #addMonitorModal.modal.fade(tabindex='-1' data-bs-backdrop="static")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Add Minecraft Monitor
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form#addMonitorForm
                        .mb-3.monitor-name
                            label.form-label(for='minecraftMonitorName') Minecraft Monitor Name
                            input#minecraftMonitorName.form-control(type='text' aria-describedby='emailHelp' required)
                            #minecraftMonitorNameHelp.form-text A descriptive name for your monitor to help you identify it
                        .mb-3.ip-address
                            label.form-label(for='minecraftMonitorName') IP Address
                            input#ipAddress.form-control(type='text' aria-describedby='emailHelp' pattern="^((\\d{1,2}|1\\d\\d|2[0-4]\\d|25[0-5])\\.){3}(\\d{1,2}|1\\d\\d|2[0-4]\\d|25[0-5])$" required)
                            #ipAddressHelp.form-text The IP address of your Minecraft server, for us to identify it

                        button#addMonitorFormSubmit.btn.btn-primary(type='submit') Add Monitor

                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel

block scripts
    script(src="https://cdn.jsdelivr.net/npm/moment@2.27.0")
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src="/js/minecraftmonitors-front.js")