doctype html
html
    body
        h1 Register
        form(action="/register" method="post")
            input(type="text" name="email")
            br
            br
            input(type="password" name="password")
            br
            br
            input(type="submit")
        p= emailExists