.d-flex {
    color: #333333;
    text-align: center;
}

.navbar-brand {
    width: 15%;
    height: 15%;
}

.nav-link {
    font-size: x-large;
}

.display-1 {
    font-size: 5rem;
    margin-top: 10%;
}

.d-flex p {
    font-size: 2rem;
}

#waitingList {
    font-size: 1.5rem;
}

#submit {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.modal-header button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #238ce8;
}

#waitingListSuccess {
    margin-top: 1rem;
}

#waitingListAlreadyExists {
    margin-top: 1rem;
}

.mb-3.form-check {
    font-size: 15px;
    margin-top: 0.5rem;
}